{% extends "my_blogs/base.html" %}


{% block content%}
 <p>主题：{{ topic }}</p>

 <p>文章：</p>
 <u>
 	<!-- please careful don't use articel --> 
 	{% for article in articles%}
 	<li>
 		<p>
 			<!-- <a href="{% url 'my_blogs:article' topic.id article.id %}"> -->
 			<!-- href="topic/{{topic.id}}/{{article.id}}" -->
 			题目：{{ article.headline }}</a> 
 		</p>
 		<p>{{article.pub_date}}</p>
 		<p>解决：{{ article|linebreaks }}</p>
 		<!-- also can use linebraeks to replace linebreaksbr, but the breaklines will be better in Chinese-->
 	</li>
 	{% empty %}
 	<li>
 		目前还未添加任何文章，请少侠稍等。
 	</li>
 	{% endfor %}
 </u>
{% endblock content %}